<h1>About</h1>

<div class="container about">
    <p> <strong>Tweet Peek</strong> is my first hack. It pulls the most recent <b>200</b> tweets from a user and analyzes them. It displays the <b>words</b> and <b>hashtags</b> the individual most frequently used. In addition, it shows the other <b>twitter handles</b> most often included in their tweets through either a @mention or a retweet. </p>

    <p>At the moment, it can only afford 200 searches/hr. I am working on enabling users to login through twitter, which will solve this problem. Also, in the future, I'd like users to be able to tweet the results.</p>

    <p>Hope you enjoy it!</p>

    <p><a href="mailto:zreitano@gmail.com?subject=TweetPeek">Email Me</a> with suggestions or questions.</p>

</div>