<h1>About</h1>

<div class="container about">
  <p> <strong>Tweet Peek</strong> is my first hack. It pulls the most recent <b>200</b> tweets from a user and analyzes them. It displays the <b>words</b> and <b>hashtags</b> the individual most frequently used. In addition, it shows the other <b>twitter handles</b> most often included in their tweets through either a @mention or a retweet. </p>

  <p> If you want to help improve Tweet Peek, fork it on github and issue a pull request. Thanks! <p>

    <p>Note: it can only afford 200 searches/hr for all users not logged in with Twitter.</p>

    <p><a href="mailto:zreitano@gmail.com?subject=TweetPeek">Email Me</a> with suggestions or questions.</p>

    <p>Hope you enjoy it!</p>

  </div>