<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://tweetpeek.herokuapp.com/" data-text="Check out Tweet Peek! An analysis of the most recent 200 tweets of any user." data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <p>
    </br>
    <a class="btn btn-inverse" href="https://www.facebook.com/sharer/sharer.php?u=https://tweetpeek.herokuapp.com/"
         target="_blank">Share on Facebook</a>
    </br>
    </p>