<h2><%= @name.upcase %></h2>

</br>
<h4><span>Description:</span> <%= @description %>   </h4>
<h4><span>Followers:   </span> <%= @followers %>      </h4>
<h4><span>Following:   </span> <%= @following %>      </h4>
</br>