<div class="container" id="page">
  <h1>Results</h1>

  <div class="container" id="user_information">

    <%= render 'user_info' %>
    <%= render 'favorite' %>
    <%= render 'share' %>

  </div>

  <div class="container" id="results">
    <%= render partial: 'tables' %>
  </div>

</div>

