<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="nav_links">
      <%= link_to 'Search', search_path %> |
      <%= link_to 'Top 10 Searched', top_ten_path %> |
      <%= link_to 'Favorites', favorites_path %> |
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>