.container.about #favorite {
  margin: auto;
  font-size: 30px;
  opacity: 0.8;
}

.span6 h1 {
  text-align: left;
  padding-bottom: 10px;
}

.container.about.favorite {
  background: #006dcc;
  border-radius: 6px;
  opacity: 0.7;
}

.container.about.favorite ul p a {
  color: white;
}
