.container.about #favorite {
  margin: auto;
  font-size: 30px;
  opacity: 1;
}

.container.about h1 {
  text-align: center;
  padding-bottom: 20px;
}

.container.about.favorite {
  background: #006dcc;
  border-radius: 6px;
  opacity: 1;
}

.container.about.favorite ul p a {
  color: white;
}

.container.about.favorite ul {
  margin: 12px;
}

input#remove_button {
  float: right;
  margin-top: -37px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 17px;
}