.container {
  width: 1200px;
}

.results {
  width: 1200px;
  height: 500px;
  overflow: auto;
  margin: auto;
  text-align: center;
}

table.table {
  margin: 10px;
  height: 400px;
  width: 150px;
  overflow: scroll;
  float: left;
}


span {
  color: #006dcc;
}

.user_information_box {
  text-align: center;
  padding-top: 20px;
  background: #ffffff;
}

.search_box_results {
  width: 900px;
  height: 1000px;
  border-radius: 6px;
  margin: auto;
}

table tr:hover {
  background: pink;
}

#favorite {
  font-weight: bold;
}


.container#user_information {
  width: 200px;
  float: left;
  padding: 20px, 30px, 0px, 10px;
  text-align: center;
  padding-left: 10px;
}

.container#results {
  width: 758px;
  height: 500px;
  overflow: scroll;
  position: relative;
  right: 20px;
  top: 0px;
  text-align: center;
  float: left;
  padding-left: 40px;
}