.results {
  width: 800px;
  height: 500px;
  overflow: auto;
  margin: auto;
  text-align: center;
}

.table {
  margin: 10px;
  height: 400px;
  width: 200px;
  overflow: scroll;
  float: left;
}

h1 {
  text-align: center;
}

.user_information_box {
  text-align: center;
  padding-top: 20px;
}

.search_box_results {
  background: #d5dbdb;
  width: 900px;
  height: 920px;
  border-radius: 6px;
  margin: auto;
}

.results {
  border: solid;
}

table tr:hover {
  background: pink;
}