
.welcome_box {
  width: 700px;
  height: 400px;
  border-radius: 6px;
  margin: auto;
}

.welcome_box h1 {
  padding-top: 30px;
  font-size: 60px;
}

.welcome_box h1 #title {
  position: relative;
  top: -30px;
}

#input_box {
  text-align: center;
  float: right;
  position: relative;
  right: 40px;
  top: -100px;
}


input#twitter_handle {
  height: 35px;
  font-size: 20px;
}

input.btn-large.btn-primary#search_button {
  margin: 10px;
}

img {
  padding-right: 10px;
}

a#sign_in_home.btn-large.btn-primary {
  position: relative;
  right: -56%;
  top: -80px;
}

.modal-footer #close {
  float: right;
  margin-left: 5px;
}

.modal-footer #sign_up {
  float: right;
}

.modal-footer #sign_in {
  float: left;
}

.modal-footer #sign_in_with_twitter {
  float: left;
}
