<div class="welcome_box">
  <h1><img src="/assets/twitter_bird.png" /><span id="title">Tweet Peek</span></h1>
  <%= render partial: "welcome/modal", :locals => { :resource => @resource,

  } %>
</div>