<% if user_signed_in? %>

<div class="welcome_box">

  <h1><img src="/assets/twitter_bird.png" /><span id="title">Tweet Peek</span></h1>
          <form id="input_box" action="/twitter/search" method="get">
                <input id="search_box" type="text" name="twitter_handle" placeholder="Enter a Twitter @username">&nbsp

                <button class="btn-large btn-primary"> Search!</button>
          </form>
    </div>



<% else %>

<div class="welcome_box">
  <h1><img src="/assets/twitter_bird.png" /><span id="title">Tweet Peek</span></h1>

      <%= link_to 'Sign in to search', new_user_session_path, class:"btn-large btn-primary", id:"sign_in_home" %>
</div>

<% end %>