<h1>Tweet Peek</h1>
<form action="/twitter/search" method="get">
  <label for="twitter_handle">Enter a Twitter Handle</label>
  <input type="text" name="twitter_handle">
  <button>Search!</button>
</form>