<div id="welcome_box">

  <h1>Tweet Peek</h1>

    <div class="input_box">
      <form action="/twitter/search" method="get">
            <input type="text" name="twitter_handle" placeholder="Enter a Twitter @username">
            <button class="btn btn-primary">Search!</button>
      </form>
    </div>

</div>