<a class="sash" href="https://github.com/zreitano/tweet_peek/tree/master/tweet_peek">
  <%= image_tag "fork.png", id:"sash" %></a>
<% if user_signed_in? %>

  <%= render partial: 'welcome/welcome_box_signed_in' %>

<% else %>

  <%= render partial: 'welcome/welcome_box_not_signed_in' %>

<% end %>